.banner{
  background-image: url('../../images/background.png');
  height: 500px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: white;
}


.btn-green{
  border: 1px solid rgb(30, 221, 136);
  padding: 15px 25px;
  background-color: rgb(30, 221, 136);
  border-radius: 30px;
  color: white;
  display: inline-block;
}

.btn-green:hover{
  background-color: rgb(16, 160, 76);
  transition: 0.3s;
}
