.contain{
  text-align: center;
}

.cards{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.card{
  border: 1px solid rgb(197, 197, 197);
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  padding: 20px;
  width: 200px;
  height: 210px;
}

.card img{
  width: 110px;
  height: 90px;
}

.card p{
  opacity: 0.6;

}
